<h1>Pictures</h1>

<%- @pictures.each do |picture| %>
	<div class = 'picture'>
		<h2><%=picture[:title]%></h2>
		<h3><%=picture[:artist]%></h3>
		<p><img src="<%= picture[:url] %>"></img></p>
		<br>
		<hr>
	</div>
<% end %>