<h1>Add an Image!</h1>

<%= form_tag "/pictures" do %>
	<p>
		<label>Artist</label><br>
		<%= text_field_tag "artist" %>
	</p>
	<p>
		<label>Title</label><br>
		<%= text_field_tag "title" %>
	</p>
	<p>
		<label>URL</label><br>
		<%= text_field_tag "url" %>
	</p>
	<p>
		<input type="submit"/>
	</p>
<% end %>